/*
  ==============================
  Resets
  ==============================
*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i|IBM+Plex+Sans:400,700|Roboto:400');

body {
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: white;
  color: #172b4d;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
p > code {
  background-color: #deebff;
  color: #0747a6;
  border-radius: 4px;
  font-size: 0.85em;
  padding: 1px 4px;
  white-space: nowrap;
}
p,
ul,
ol {
  line-height: 1.5;
}
a {
  color: inherit;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
}
a:hover {
  outline: 0;
  text-decoration: underline;
}
