/*
  ==============================
  Resets
  ==============================
*/

@import url('https://fonts.googleapis.com/css?family=Sunflower');

body {
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #fafbfc;
  color: #253858;
  font-family: 'Sunflower', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
p > code {
  white-space: nowrap;
}
p,
ul,
ol {
  line-height: 1.5;
}
a {
  color: inherit;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
}
a:hover {
  outline: 0;
  text-decoration: underline;
}

/*
  ==============================
  Animation
  ==============================
*/
@keyframes dropIn {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -1666px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 26px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 6px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate-dropin {
  animation: dropIn 0.66s;
}
